.blue-box{
    background-color: blue;
    width: 600px;
    margin: auto;
    color: white;
}

.text{
    text-align: left;
}

.image{
    float: left;
    max-width: 320px;  
    max-height: 265px;
    padding-bottom: 20px;
    padding-left: 20px;
}

